@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #324a4d;
  --nia-dark: #324a4d;
  --nia-grey-blue: #55787c;
  --nia-orange: #f79935;
  --nia-green: #b1bd37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nia-dark: var(--nia-dark);
  --color-nia-grey-blue: var(--nia-grey-blue);
  --color-nia-orange: var(--nia-orange);
  --color-nia-green: var(--nia-green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
